*{margin: 0;padding: 0;}
/* 设置整个页面的样式 字体大小 字体颜色 背景颜色 */
body{font-size: 14px;
    font-family: Microsoft Yahei,Arial;
    color: #7d7d7e;
    text-align: center}
#container{margin: 0rem 8rem 0rem 8rem}
    /* 设置头部图片的高度 */
img:first-child{height: 280px;}
/* 设置面包屑导航的样式 */
.breadcrumb {background-color: #ffffff;padding: 0px; height: 38px;line-height: 38px;}
 /* 设置a标签的样式 */
a,a:hover{text-decoration: none;
    color: #7d7d7e}
span{color: black}
.about_part01{text-align: center}
.about_part01>img:first-child{width: 198px;height: 22px;}
/* 设置about_img2.jpg图片的大小                                                                        //需要手写媒体查询在不同屏幕下设置图片大小*/
.about_part01 img:nth-child(3){height: 20rem;}
/*设置左右两边图片的大小*/
.about_part02 img:first-child{
    width: 195px; height: 194px;
}
/*设置中间点线之道的图片大小*/
.about_part02 div:nth-child(2) img{
    width: 106px; height: 43.33px;
}
.about_part02 p{color: #858585;line-height: 2.4rem;}
/*设置第三层绝对定位*/
.about_part03{position:relative }
.about_part03 img{height: 25rem}
.about_part03_01{position: absolute;
     margin-top: 5rem;margin-left: 25rem}
.about_part03_01 img{width: 157px;height: 18px}
                                                                                                       /*设置图片的动画效果*/
/*第四层*/
.about_part04 img{height: 43px}
/*设置第四层下ul的样式 为空白圆点*/
.about_part04 ul {
    text-align: left;
    list-style-type: circle;
}
.about_part04 ul li{
    margin-bottom: 40px;
    color: #000000;
}
.about_part04 div{ text-align: left;}